@model Student
@{
    ViewData["Title"] = "Details";
}
<div>
    <h3 class="display-3">Student Details</h3>
    <hr />
    <dl class="text-center">
        <dt>FirstName</dt>
        <dd>@Model.FirstName</dd>
        <dt>LastName</dt>
        <dd>@Model.LastName</dd>
        <dt>Address1</dt>
        <dd>@Model.Address1</dd>
        <dt>Address2</dt>
        <dd>@Model.Address2</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
    </dl>
    
</div>
